*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Amatic SC', cursive;
}

/* -------------- colors ---------------*/

$rose: #e34462;
$yellow: #fac32d;
$light-blue: #bdd7fd;
$dark-blue: #0c3059;
$orange: #ff8a3d;
$light-green: #b1cf5f;
$blue: #477fc4;
$light-coffee: #c9a78b;
$light-purple: #eee7e3;
$gray: #434343;
$black: #000000;

/* ---------------- fonts -----------------*/

$secondary-font: 'Karla', sans-serif;

 


